@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,900;1,700&display=swap');
*{
	margin: 0;
	padding: 0;
}

html{
background: pink; 
}


body{
	width: 815px;
	height: 2230px;
	margin: auto;
	background-color: purple;
	padding: 5px;
	font-family: 'Satisfy', cursive;
}

header{

	width: 815px;
	height:100px;
	background-color: red;
	margin-top: 5px;
	
}

section#logo{
	width:200px;
	height: 100px;
	float:left;
	background-color: yellow;

}



section#banner{
	width: 615px;
	height: 100px;
	float:left ;
	background-color: #B582BE;
	}

nav{
	width: 815px;
	height:60px;
	background-color: teal;
	margin-top: 5px;
	
}





article{

	width: 600px;
	height:1900px;
	float:left;
	background-color: #D4F8FB;
	margin-top: 5px;
	padding: 5px;

}

aside{


	width: 205px;
	height:1910px;
	float: left;
	background-color: #9BBFEF;
	margin-top: 5px;
}


footer{


	width: 815px;
	height:140px;
	float:left;
	margin-top: 5px;
	background-color: #fff;
}





h1{

	padding-top: 1.5em;
	
	text-align: center;
	font-family: 'Dela Gothic One', cursive;
	

}


  .menu{

	list-style: none;
	padding: 0px;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	background-color: #13F397;




}


.menu li a{
	text-decoration: none;
	color:white;
	padding: 20px;
	display: block;
	
	


}

.menu li{
	display: inline-block;
	text-align: right;
	




}



.menu li a:hover{
	background-color: #9BEFCD
}




	#stem{
		padding-top: 6em;
		padding: 2em;
		font-size: .9em;
		font-family: 'Train One', cursive;
	}


#stem li a{

	text-decoration: none;
}



h2{
text-align: center;
color: #000;
font-family: 'Yatra One', cursive;
}

img
{
display: block;
max-width: 100;
margin:auto;


}

h4{
	text-align: center;
	font-weight: bold;
	padding: 1em;
	font-family: 'Pacifico', cursive;
}


.footerredes{
	text-align: center;
	list-style: none;
	padding-bottom: 20px;
		

}


.footerredes li {
	display:inline-block;

}

.footerredes li a{
	padding: 20px;
	display: block;
}






